{% extends 'base.html.twig' %}

{% block body %}

    {#
    {% if app.session.flashbag.get('message') is not empty %}
    <div class="alert alert-success">
    #}
    {% for message in app.session.flashbag.get('message') %}
        <p class="alert alert-success">{{ message }}</p>
    {% endfor %}
    {#
    </div>
    {% endif %}
    #}

    <h3>Liste de mes eleves:</h3>

    <ul>
        {% for user in users %}
            {% if user.roles != ["ROLE_ADMIN","ROLE_USER"] %}
                <a href="{{ path('graduationUser', { 'matter': matter.id, 'user': user.id } ) }}"><li>{{ user.username }}</li></a>
                {% set student = true %}
            {% endif %}
        {% endfor %}
    </ul>


{% endblock %}