{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grade creation/Editon</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="Create/Edit" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ linkForBack }}" class="btn btn-info">Back to the list</a>
        </li>
    </ul>
{% endblock %}
