{% extends 'base.html.twig' %}

{% block body %}


    <div class="content text-center">

        <h3>Liste de mes matières:</h3>
        <ul>
            {% for matter in matters %}
                <li>{{ matter.name }}</li>
            {% endfor %}
        </ul>
    </div>



{% endblock %}

